body::before {
  display: block;
  content: '';
  margin-top: 60px;
}

#hero {
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40vh;
  position: relative;
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.gallery::after {
  content: "";
  width: 350px;
}

.hook img{
  display: block;
  max-width: 100%;
  height: auto;
}

#redsquare {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.7);
}


